*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  font-family: 'Metropolitano', sans-serif;
  --main: #7b61ff;
  --fontFamilyName: 'Metropolitano', sans-serif;
  --btn-bgcolor: #9e61ff;
  --btn-color: #ffffff;
  --btn-bgcolor2: #619bff;
  --btn-color2: #ffffff;
  --btn-bgcolor3: #6c52ee;
  --background-item: #191c33;
}

h1, h2, h3, p, span, div {
  font-family: 'Metropolitano', sans-serif;
}


.react-datepicker-popper {
  z-index: 8 !important;
}


.react-datepicker__header {
  background-color: white !important;
}