*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  font-family: 'Metropolitano', sans-serif;
  --main: #7b61ff;
}

h1, h2, h3, p, span {
  font-family: 'Metropolitano', sans-serif;
}
